body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
  margin: 0;
}

table {
  border-collapse: separate;
  border-spacing: 0.5rem;
  width: auto;
}

th, td {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: left;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}